In [1]:
import pandas as pd
import pymysql
import plotly.express as px
import requests
import json
import streamlit as st

In [131]:
#dataframe creation

mydb=pymysql.connect(host="localhost",
                     user="root",
                     port=3306,
                     database="phonepe_data",
                     password="1234")

cursor=mydb.cursor()


#aggregate_transaction_df
cursor.execute("select * from aggregated_transaction")
mydb.commit()
table1=cursor.fetchall()

aggre_transaction=pd.DataFrame(table1,columns=("States","years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))

#aggregate_user_df
cursor.execute("select * from aggregated_user")
mydb.commit()
table2=cursor.fetchall()

aggre_user=pd.DataFrame(table2,columns=("States","years","Quarter","Brands","Transaction_count","percentage"))

#map_transaction_df
cursor.execute("select * from mapped_transaction")
mydb.commit()
table3=cursor.fetchall()

map_transaction=pd.DataFrame(table3,columns=("States","years","Quarter","Districts","Transaction_count","Transaction_amount"))


#map_user_df
cursor.execute("select * from mapped_user")
mydb.commit()
table4=cursor.fetchall()

map_user=pd.DataFrame(table4,columns=("States","years","Quarter","Districts","registeredUsers","appOpens"))


#top_transaction_df
cursor.execute("select * from topped_transaction")
mydb.commit()
table5=cursor.fetchall()

top_transaction=pd.DataFrame(table5,columns=("States","years","Quarter","pincodes","Transaction_count","Transaction_amount"))

#top_user_df
cursor.execute("select * from topped_users")
mydb.commit()
table6=cursor.fetchall()

top_users=pd.DataFrame(table6,columns=("States","years","Quarter","pincodes","registeredUsers"))

In [8]:
#TOP CHART TRANSACTION AMOUNT
def top_chart_transaction_amount(table_name):
    mydb=pymysql.connect(host="localhost",
                        user="root",
                        port=3306,
                        database="phonepe_data",
                        password="1234")

    cursor=mydb.cursor()

    #plot 1
    query1= f'''select States,sum(Transaction_amount) as Transaction_amount from {table_name}
                group by States
                order by Transaction_amount DESC
                limit 10;'''

    cursor.execute(query1)
    table=cursor.fetchall()
    mydb.commit()

    df_1=pd.DataFrame(table,columns=("States","Transaction_amount"))

    fig_amount1=px.bar(df_1,x="States",y="Transaction_amount",title= "TRANSACTION_AMOUNT",hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    fig_amount1.show()

    #plot 2
    query2=f'''select States,sum(Transaction_amount) as Transaction_amount from {table_name}
                group by States
                order by Transaction_amount
                limit 10;'''

    cursor.execute(query2)
    table=cursor.fetchall()
    mydb.commit()

    df_2=pd.DataFrame(table,columns=("States","Transaction_amount"))

    fig_amount2=px.bar(df_2,x="States",y="Transaction_amount",title= "TRANSACTION_AMOUNT",hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height=650,width=600)
    fig_amount2.show()

    #plot 3
    query3='''select States, AVG(Transaction_amount) as Transaction_amount from {table_name}
                group by States
                order by Transaction_amount;'''

    cursor.execute(query3)
    table=cursor.fetchall()
    mydb.commit()

    df_3=pd.DataFrame(table,columns=("States","Transaction_amount"))

    fig_amount3=px.bar(df_3,x="Transaction_amount",y="States",title= "TRANSACTION_AMOUNT",hover_name="States",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=650,width=600)
    fig_amount3.show()

In [11]:

#TOP CHART TRANSACTION COUNT
def top_chart_transaction_count(table_name):
    mydb=pymysql.connect(host="localhost",
                        user="root",
                        port=3306,
                        database="phonepe_data",
                        password="1234")

    cursor=mydb.cursor()

    #plot 1
    query1= f'''select States,sum(Transaction_count) as Transaction_count from {table_name}
                group by States
                order by Transaction_count DESC
                limit 10;'''

    cursor.execute(query1)
    table=cursor.fetchall()
    mydb.commit()

    df_1=pd.DataFrame(table,columns=("States","Transaction_count"))

    fig_amount1=px.bar(df_1,x="States",y="Transaction_count",title= "TRANSACTION COUNT",hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    fig_amount1.show()

    #plot 2
    query2=f'''select States,sum(Transaction_count) as Transaction_count from {table_name}
                group by States
                order by Transaction_count
                limit 10;'''

    cursor.execute(query2)
    table=cursor.fetchall()
    mydb.commit()

    df_2=pd.DataFrame(table,columns=("States","Transaction_count"))

    fig_amount2=px.bar(df_2,x="States",y="Transaction_count",title= "TRANSACTION COUNT",hover_name="States",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height=650,width=600)
    fig_amount2.show()

    #plot 3
    query3=f'''select States, AVG(Transaction_count) as Transaction_count from {table_name}
                group by States
                order by Transaction_count;'''

    cursor.execute(query3)
    table=cursor.fetchall()
    mydb.commit()

    df_3=pd.DataFrame(table,columns=("States","Transaction_count"))

    fig_amount3=px.bar(df_3,x="Transaction_count",y="States",title="TRANSACTION COUNT",hover_name="States",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=800,width=1000)
    fig_amount3.show()

In [16]:
#TOP CHART REGISTEREDUSERS ANALYSIS

def top_chart_registered_user(table_name,state):
    mydb=pymysql.connect(host="localhost",
                        user="root",
                        port=3306,
                        database="phonepe_data",
                        password="1234")

    cursor=mydb.cursor()

    #plot 1
    query1= f'''select Districts,sum(registeredUsers) as registeredUsers
                from {table_name}
                where States='{state}'
                group by Districts
                order by registeredUsers DESC
                limit 10;'''

    cursor.execute(query1)
    table=cursor.fetchall()
    mydb.commit()

    df_1=pd.DataFrame(table,columns=("Districts","registeredUsers"))

    fig_amount1=px.bar(df_1,x="Districts",y="registeredUsers",title= "TOP 1O OF REGISTEREDUSERS",hover_name="Districts",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    fig_amount1.show()

    #plot 2
    query2=f'''select Districts,sum(registeredUsers) as registeredUsers
                from {table_name}
                where States='{state}'
                group by Districts
                order by registeredUsers 
                limit 10;'''

    cursor.execute(query2)
    table=cursor.fetchall()
    mydb.commit()

    df_2=pd.DataFrame(table,columns=("Districts","registeredUsers"))

    fig_amount2=px.bar(df_2,x="Districts",y="registeredUsers",title= "LAST 10 OF REGISTEREDUSERS",hover_name="Districts",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height=650,width=600)
    fig_amount2.show()

    #plot 3
    query3=f'''select Districts,AVG(registeredUsers) as registeredUsers
                from {table_name}
                where States='{state}'
                group by Districts
                order by registeredUsers'''

    cursor.execute(query3)
    table=cursor.fetchall()
    mydb.commit()

    df_3=pd.DataFrame(table,columns=("Districts","registeredUsers"))

    fig_amount3=px.bar(df_3,x="registeredUsers",y="Districts",title="AVG OF REGISTERED USERS",hover_name="Districts",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=800,width=1000)
    fig_amount3.show()

In [ ]:
#TOP CHART AppOpens ANALYSIS

def top_chart_AppOpens(table_name,state):
    mydb=pymysql.connect(host="localhost",
                        user="root",
                        port=3306,
                        database="phonepe_data",
                        password="1234")

    cursor=mydb.cursor()

    #plot 1
    query1= f'''select Districts,sum(AppOpens) as AppOpens
                from {table_name}
                where States='{state}'
                group by Districts
                order by AppOpens DESC
                limit 10;'''

    cursor.execute(query1)
    table=cursor.fetchall()
    mydb.commit()

    df_1=pd.DataFrame(table,columns=("Districts","AppOpens"))

    fig_amount1=px.bar(df_1,x="Districts",y="AppOpens",title= "TOP 1O OF AppOpens",hover_name="Districts",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    fig_amount1.show()

    #plot 2
    query2=f'''select Districts,sum(AppOpens) as AppOpens
                from {table_name}
                where States='{state}'
                group by Districts
                order by AppOpens 
                limit 10;'''

    cursor.execute(query2)
    table=cursor.fetchall()
    mydb.commit()

    df_2=pd.DataFrame(table,columns=("Districts","AppOpens"))

    fig_amount2=px.bar(df_2,x="Districts",y="AppOpens",title= "LAST 10 OF AppOpens",hover_name="Districts",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl_r,height=650,width=600)
    fig_amount2.show()

    #plot 3
    query3=f'''select Districts,AVG(AppOpens) as AppOpens
                from {table_name}
                where States='{state}'
                group by Districts
                order by AppOpens'''

    cursor.execute(query3)
    table=cursor.fetchall()
    mydb.commit()

    df_3=pd.DataFrame(table,columns=("Districts","AppOpens"))

    fig_amount3=px.bar(df_3,x="AppOpens",y="Districts",title="AVG OF AppOpens",hover_name="Districts",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=800,width=1000)
    fig_amount3.show()

In [ ]:
top_chart_registered_user("mapped_user","Tamil Nadu")

In [ ]:
top_chart_transaction_count("aggregated_transaction")

In [ ]:
top_chart_transaction_amount("aggregated_transaction")

In [132]:
#Transaction year based function
def Transaction_amount_count_y(df,year):
    transc_accnt_amnt_year=df[df["years"] == year]
    transc_accnt_amnt_year.reset_index(drop=True,inplace=True)

    transc_accnt_amnt_year_group=transc_accnt_amnt_year.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    transc_accnt_amnt_year_group.reset_index(inplace=True)

    fig_amount=px.bar(transc_accnt_amnt_year_group,x="States",y="Transaction_amount",title=f"{year} TRANSACTION_AMOUNT",
                    color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)

    fig_amount.show()

    

    fig_count=px.bar(transc_accnt_amnt_year_group,x="States",y="Transaction_count",title=f"{year} TRANSACTION_COUNT",
                    color_discrete_sequence=px.colors.sequential.Bluered_r,height=650,width=600)
    
    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for Feature in data1['features']:
        states_name.append(Feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1=px.choropleth(transc_accnt_amnt_year_group,geojson=data1,locations="States",featureidkey="properties.ST_NM",
    color="Transaction_amount",color_continuous_scale="Rainbow",
    range_color=(transc_accnt_amnt_year_group['Transaction_amount'].min(),transc_accnt_amnt_year_group['Transaction_amount'].max()),
    hover_name="States",title= f"{year}  TRANSACTION AMOUNT",fitbounds="locations",
    height=600,width=550)
    
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2=px.choropleth(transc_accnt_amnt_year_group,geojson=data1,locations="States",featureidkey="properties.ST_NM",
    color="Transaction_count",color_continuous_scale="Rainbow",
    range_color=(transc_accnt_amnt_year_group['Transaction_count'].min(),transc_accnt_amnt_year_group['Transaction_count'].max()),
    hover_name="States",title= f"{year}  TRANSACTION COUNT",fitbounds="locations",
    height=600,width=550)
    
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

    return transc_accnt_amnt_year

In [133]:
##Transaction quarter based function

def Transaction_amount_count_y_Q(df,quarter):
    transc_accnt_amnt_year=df[df["Quarter"] == quarter]
    transc_accnt_amnt_year.reset_index(drop=True,inplace=True)

    transc_accnt_amnt_year_group=transc_accnt_amnt_year.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    transc_accnt_amnt_year_group.reset_index(inplace=True)

    fig_amount=px.bar(transc_accnt_amnt_year_group, x="States",y="Transaction_amount",title=f"{transc_accnt_amnt_year['years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                      color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)

    fig_amount.show()  



    fig_count=px.bar(transc_accnt_amnt_year_group, x="States", y="Transaction_count",title=f"{transc_accnt_amnt_year['years'].min()}YEAR {quarter} QUARTER TRANSACTION_COUNT",
                     color_discrete_sequence=px.colors.sequential.Bluered_r,height=650,width=600)

    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for Feature in data1['features']:
        states_name.append(Feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1=px.choropleth(transc_accnt_amnt_year_group,geojson=data1,locations="States",featureidkey="properties.ST_NM",
    color="Transaction_amount",color_continuous_scale="Rainbow",
    range_color=(transc_accnt_amnt_year_group['Transaction_amount'].min(),transc_accnt_amnt_year_group['Transaction_amount'].max()),
    hover_name="States",title= f"{transc_accnt_amnt_year['years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",fitbounds="locations",
    height=600,width=550)

    fig_india_1.update_geos(visible=False)
    fig_india_1.show()


    fig_india_2=px.choropleth(transc_accnt_amnt_year_group,geojson=data1,locations="States",featureidkey="properties.ST_NM",
    color="Transaction_count",color_continuous_scale="Rainbow",
    range_color=(transc_accnt_amnt_year_group['Transaction_count'].min(),transc_accnt_amnt_year_group['Transaction_count'].max()),
    hover_name="States",title= f"{transc_accnt_amnt_year['years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",fitbounds="locations",
    height=600,width=550)

    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

    return transc_accnt_amnt_year

In [134]:
#Transaction type function 
def aggre_Transc_type(df,state):

    transc_accnt_amnt_year=df[df["States"] == state]
    transc_accnt_amnt_year.reset_index(drop=True, inplace=True)

    transc_accnt_amnt_year_group=transc_accnt_amnt_year.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    transc_accnt_amnt_year_group.reset_index(inplace=True)

    fig_pie_1=px.pie(data_frame=transc_accnt_amnt_year_group, names="Transaction_type",values="Transaction_amount",
                    width=600,title=f"{state.upper()} TRANSACTION AMOUNT",hole=0.5)
    fig_pie_1.show()

    fig_pie_2=px.pie(data_frame=transc_accnt_amnt_year_group, names="Transaction_type",values="Transaction_count",
                    width=600,title=f"{state.upper()}TRANSACTION COUNT",hole=0.5)
    fig_pie_2.show()

In [135]:
#aggregate_user_years analysis
def aggre_user_plot_1(df,year):
    agg_user_yr=df[df["years"]==year]
    agg_user_yr.reset_index(drop=True,inplace=True)

    agg_user_yr_grp=pd.DataFrame(agg_user_yr.groupby("Brands")["Transaction_count"].sum())
    agg_user_yr_grp.reset_index(inplace=True)
    agg_user_yr_grp

    fig_bar_1=px.bar(agg_user_yr_grp, x="Brands", y="Transaction_count", title=f"{year} BRANDS AND TRANSACTION COUNT",width=800,color_discrete_sequence=px.colors.sequential.haline_r,hover_name="Brands")
    fig_bar_1.show()

    return agg_user_yr

In [136]:
#aggregate_user_quarter anlysis
def aggr_user_plot2(df,quarter):
    agg_user_yr_qrtr=df[df["Quarter"]==quarter]
    agg_user_yr_qrtr.reset_index(drop=True,inplace=True)

    agg_user_yr_qrtr_grp=pd.DataFrame(agg_user_yr_qrtr.groupby("Brands")["Transaction_count"].sum())
    agg_user_yr_qrtr_grp.reset_index(inplace=True)
    agg_user_yr_qrtr_grp


    fig_bar_1=px.bar(agg_user_yr_qrtr_grp, x="Brands", y="Transaction_count", title=f"{quarter}QUARTER, BRANDS AND TRANSACTION COUNT",width=800,color_discrete_sequence=px.colors.sequential.haline_r,hover_name="Brands")
    fig_bar_1.show()

    return agg_user_yr_qrtr

In [137]:
#agree_user- states function 
def aggr_user_plot3(df,state):
    aggre_user_year_qrtr_state=df[df["States"]==state]
    aggre_user_year_qrtr_state.reset_index(drop=True,inplace=True)
    aggre_user_year_qrtr_state

    fig_line_1=px.line(aggre_user_year_qrtr_state, x="Brands", y="Transaction_count", hover_data="percentage",
                    title=f"{state.upper()} BRANDS , TRANSACTION_COUNT , PERCENTAGE",width=1000,markers=True)

    fig_line_1.show()

In [138]:
#map transaction  district analysis
def map_district_Transc_type(df,state):

    transc_accnt_amnt_year=df[df["States"] == state]
    transc_accnt_amnt_year.reset_index(drop=True, inplace=True)

    transc_accnt_amnt_year_group=transc_accnt_amnt_year.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    transc_accnt_amnt_year_group.reset_index(inplace=True)

    fig_bar_1=px.bar(data_frame=transc_accnt_amnt_year_group, x="Transaction_amount",y="Districts",orientation="h",title=f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT",color_discrete_sequence=px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2=px.bar(data_frame=transc_accnt_amnt_year_group, x="Transaction_count",y="Districts",orientation="h",title=f"{state.upper()} DISTRICT AND TRANSACTION COUNT",color_discrete_sequence=px.colors.sequential.Mint_r)
    fig_bar_2.show()

In [139]:
def map_user_plot_1(df, year):

    map_user_year=df[df['years']==year]
    map_user_year.reset_index(drop=True,inplace=True)

    map_user_year_grp=map_user_year.groupby("States")[["registeredUsers","appOpens"]].sum()
    map_user_year_grp.reset_index(inplace=True) 
    

    fig_line_1=px.line(map_user_year_grp, x="States", y=["registeredUsers","appOpens"],
                        title=f"{year} REGISTERED USERS,APPOPENS",width=1000,height=800,markers=True)

    fig_line_1.show()

    return map_user_year

In [140]:
def map_user_plot_2(df,quarter):
    map_user_year_quarter=df[df['Quarter']==quarter]
    map_user_year_quarter.reset_index(drop=True,inplace=True)

    map_user_year_quarter_grp=map_user_year_quarter.groupby("States")[["registeredUsers","appOpens"]].sum()
    map_user_year_quarter_grp.reset_index(inplace=True) 


    fig_line_1=px.line(map_user_year_quarter_grp, x="States", y=["registeredUsers","appOpens"],
                        title=f"{df['years'].min()} YEAR {quarter} QUARTER REGISTERED USERS,APPOPENS",width=1000,height=800,markers=True,
                        color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_line_1.show()

    return map_user_year_quarter

In [141]:
def map_user_plot_3(df,states):
    map_user_year_quarter_state=df[df["States"]==states]
    map_user_year_quarter_state.reset_index(drop=True,inplace=True)


    fig_map_user_bar_1=px.bar(map_user_year_quarter_state, x="registeredUsers",y="Districts",orientation="h",title=f"{states.upper()} REGISTERED USER",height=800,                        
                                color_discrete_sequence=px.colors.sequential.Rainbow_r)
    
    fig_map_user_bar_1.show()

    fig_map_user_bar_2=px.bar(map_user_year_quarter_state, x="appOpens",y="Districts",orientation="h",title=f"{states.upper()} APPOPENS",height=800,                        
                                color_discrete_sequence=px.colors.sequential.Rainbow_r)

    fig_map_user_bar_2.show()

In [142]:
#Top transaction state analysis
def top_transaction_plot_1(df,state):
    top_user_year_states=df[df["States"]==state]
    top_user_year_states.reset_index(drop=True,inplace=True)

    
    fig_top_user_bar_1=px.bar(top_user_year_states, x="Quarter",y="Transaction_amount",hover_data="pincodes",
                            title="TRANSACTION AMOUNT",height=800,color_discrete_sequence=px.colors.sequential.GnBu_r)
        
    fig_top_user_bar_1.show()

    fig_top_user_bar_2=px.bar(top_user_year_states, x="Quarter",y="Transaction_count",hover_data="pincodes",
                            title="Transaction_count",height=800,color_discrete_sequence=px.colors.sequential.Agsunset_r)
        
    fig_top_user_bar_2.show()

In [180]:
#top_user year analysis
def top_user_plot_1(df,year):
    top_users_year=df[df["years"]==year]
    top_users_year.reset_index(drop=True,inplace=True)

    top_users_year_grp=pd.DataFrame(top_users_year.groupby(["States","Quarter"])["registeredUsers"].sum())
    top_users_year_grp.reset_index(inplace=True)

    fig_top_plot_1=px.bar(top_users_year_grp,x="States",y="registeredUsers",color="Quarter",width=1000, height=800,
                        color_discrete_sequence=px.colors.sequential.Burgyl,hover_name="States", 
                        title=f"{year} REGISTERED USERS")
    fig_top_plot_1.show()

    return top_users_year

In [ ]:
#top_user_state analysis
def top_user_plot_2(df,state):
    top_user_year_state=df[df['States']==state]
    top_user_year_state.reset_index(drop=True,inplace=True)

    fig_top_plot_2=px.bar(top_user_year_state,x="Quarter",y="registeredUsers",title="REGISTEREDUSERS,PINCODES, QUARTERS",
                        width=1000, height=800, color="registeredUsers", hover_data="pincodes",
                        color_continuous_scale= px.colors.sequential.Burgyl)
    fig_top_plot_2.show()

    return top_user_year_state

### Aggregated_transaction

In [ ]:
tranc_year=Transaction_amount_count_y(aggre_transaction, 2022)

In [ ]:
aggre_Transc_type(tranc_year,'Tamil Nadu')

In [ ]:
tranc_year_quarter=Transaction_amount_count_y_Q(tranc_year,3)

In [ ]:
aggre_Transc_type(tranc_year_quarter,'Tamil Nadu')

### aggregated_User

In [ ]:
aggre_user_year=aggre_user_plot_1(aggre_user,2020)

In [ ]:
aggre_user_year_qrtr=aggr_user_plot2(aggre_user_year,2)

In [ ]:
aggr_user_plot3(aggre_user_year_qrtr,"Andaman & Nicobar")

### map_transaction

In [ ]:
map_tranc_year=Transaction_amount_count_y(map_transaction, 2022)

In [ ]:
map_district_Transc_type(map_tranc_year,'Tamil Nadu')

In [ ]:
map_tranc_year_quarter=Transaction_amount_count_y_Q(map_tranc_year,3)

In [ ]:
map_district_Transc_type(map_tranc_year_quarter,'Tamil Nadu')

### map_user

In [ ]:
map_user_year=map_user_plot_1(map_user, 2022)

In [ ]:
map_user_year_quarter=map_user_plot_2(map_user_year,3)

In [ ]:
map_user_year_quarter_state=map_user_plot_3(map_user_year_quarter,'Tamil Nadu')

### TOP transaction

In [ ]:
top_tranc_year=Transaction_amount_count_y(top_transaction, 2022)

In [ ]:
top_transc_year=top_transaction_plot_1(top_transaction,"Tamil Nadu")

In [ ]:
top_tranc_year_quarter=Transaction_amount_count_y_Q(top_tranc_year,3)

### Top users

In [ ]:
top_user_year=top_user_plot_1(top_users,2022)

In [ ]:
top_user_year_state=top_user_plot_2(top_user_year,"Andaman & Nicobar")